body {
    /* background-image: url("seattle.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: #b0f3d7ce;
}

.name {
    color: #7ad6c2ce;
    font-size: 140px;
}


.left_eye {
    position: absolute;
    top: 40px;
    left: 300px;
    max-width: 80px;

}

.right_eye {
    position: absolute;
    top: 40px;
    left: 800px;
    max-width: 80px;
}

.nose {
    position: absolute;
    top: 40%;
    left: 40%;
    max-width: 80px;
    height: auto;

}

.top_left_mouth {
    position: absolute;
    top: 40%;
    left: 10%;
    max-width: 80px;
    transform: rotate(320deg);
}

.middle_left_mouth {
    position: absolute;
    top: 55%;
    left: 21%;
    max-width: 80px;
    transform: rotate(305deg);
}

.bottom_left_mouth {
    position: absolute;
    top: 66%;
    left: 34%;
    max-width: 80px;
    transform: rotate(295deg);

}

.top_right_mouth {
    position: absolute;
    top: 40%;
    left: 71%;
    max-width: 80px;
    transform: rotate(40deg);
}

.middle_right_mouth {
    position: absolute;
    top: 55%;
    left:60%;
    max-width: 80px;
    transform: rotate(55deg);
}

.bottom_right_mouth {
    position: absolute;
    top: 66%;
    left: 48%;
    max-width: 80px;
    transform: rotate(65deg);
}

a:link, a:visited {
    color: #ffffffce;
    text-decoration: none;
    
}

a:hover {
    color: #7ad6c2ce;
}