*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(rgba(197,216,164,1) 50%, rgba(0,212,255,1) 100%);

    font-family: 'Poppins', sans-serif;
}

.header {
    width: 80%;
    position: relative;
    font-size: 40px;
    color: #ffffffce;
    text-align: left;

    margin-top: 20px ;
    margin-left: 40px;


    padding: 5px 15px 5px 40px;
    border-top: 5px solid #82ecc077;
    border-bottom: 5px solid #82ecc077;
}

.section {
    height: 80%;
    max-height: 500px;
    width: 100%;
    overflow-y: scroll;
    color: white;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(15, 1fr);
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.section h4 {
    margin: 30px;
    font-size: 30px;
}


#author {
    
    font-size: 25px;
    text-align: right;
}


a:link, a:visited {
    color: #ffffffce;
    text-decoration: none;
    
}

a:hover {
    color: #7ad6c2ce;
}

    