@font-face {
    font-family: ArcadeClassic;
    src: url(assets/ARCADECLASSIC.TTF);
}

body {
    
    background-color: rgba(0,0,0);

    font-family: ArcadeClassic;

    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;

    text-align: center;
    font-size: 50px;
}

h1 {
    font-size: 80px;
    font-family: ArcadeClassic;
    border: 0px;
    padding: 0px;
    margin: 20px;
}

#game_container {  
    background-image: url('assets/night.PNG');
    background-size: 800px 500px; /*entire day night*/

    width: 800px;
    height: 500px;

    border-width: 10px;
    border-style: solid;
    border-color: white;

    position: relative;
    top: 30px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
}


/* index.html retrieving name form */

#name_text {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;


    margin: 10px;
    z-index: 4;
}

#name_input {
    background-image: url("assets/textbox.png");
    background-size: 200px;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    margin: 20px;
    
    color: black;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;

    z-index: 1;
}



/*end of name form*/



#clock {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 4;

    z-index: 4;
}

#clock > img {
    height: 70%;
}

#status_bar {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1; 
    grid-row-end: 2;
    
    margin: 10px;
    z-index: 4;
}

#status_bar > img {
    height: 50%;
}

#textbox {
    background-image: url("assets/textbox.png");
    background-size: 700px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    
    color: black;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;

    z-index: 1;
}

#ghost {
    grid-column-start: 2;
    grid-column-end: 3.5;
    grid-row-start: 2;
    grid-row-end: 5;

    animation: jump 2s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

#ghost > img {
    height: 90%;
    z-index: 1;
}

@keyframes jump {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-40px); }
    100% { transform: translateY(0); }
  }

#text {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;

    color: black;
    font-family: ArcadeClassic;
}

.action_buttons_container {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;

    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

#love > img {
    width: 30%;
}
#chat > img {
    width: 30%;
}
#music > img {
    width: 30%;
}