body {
    background-color: rgba(0,0,0);

    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;

}



.game_container {
    background-color: rgb(16, 78, 194);
    align-content: center;
    width: 800px;
    height:500px;
    display: flex;
}


#ghost {
    
}
