@font-face {
    font-family: pixelMix;
    src: url(pixelmix.ttf);
}

@font-face {
    font-family: paskowy;
    src: url(Paskowy.ttf);
}

body {
    font-family: pixelMix;
    color: white;
    background-color: black;
    flex-direction: row;
}

h1 { 
    font-size: 100px;
    text-align: center;
    font-family: paskowy;
}

h3 {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 20px;
}

.textbox {
    padding: 20px;
    border-width: 8px;
    border-style: solid;
    border-color: #aa7555;
    margin-top: 30px;
    width: 400px;
}

.images {
    position: absolute ;
    top: auto;
    padding: 20px;
    border-width: 8px;
    border-style: solid;
    border-color: #aa7555;
}

#introduction1 {
    position: absolute;
    top: auto;
    margin-left: 100px;
}

#image1 {
    left: 600px;
}

#introduction2 {
    position: absolute;
    top: 700px;
    left: 800px;
}

#image2 {
    left: auto;
    top: 700px;
    margin-left: 100px;

}

a:link, a:visited {
    color: #aa7555;  
}

a:hover {
    color: #aa7555;
}