*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#instructions {
    font-size: 20px;
    margin: 30px 40px;
    text-align: center;
}

.timer {
    display: inline-block;
    max-width: 90%;
    padding: 20px 40px;
    border-radius: 30px;
    background: #F4FCD9;

}

.timer_btns_container {
    display: flex;
    justify-content: space-around;
}

.num_timer {
    display: flex;
    justify-content: center;
}

.timer_numerical {
    font-size: 58px;
    font-weight: bold;
}
  
.timer_btn {
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #BB9981;
    cursor: pointer;
  }

.timer_btn-start {
    background: #534340;
  }
  
.timer__btn-stop {
    background: #312826;
  }
  
  

#timer_container {  
    background-color: #C5D8A4;

    width: 60%; /*center*/
    height: 300px; /*center*/
    margin: 40px auto; /*center*/
    border-width: 20px solid #312826;
    border-radius: 50px;
    padding: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;

} 

#log_container {
    background-color: #def1bd;

    width: 60%; /*center*/
    height: 500px; /*center*/
    margin: 40px auto; /*center*/
    border-width: 20px solid #312826;
    border-radius: 50px;
    padding: 30px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#FFC4DD;
}

.logo {
    color: rgb(255, 253, 253);
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 30px;
}

.nav_links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav_links li {
    list-style: none;
}
.nav_links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 17px;
}

.burger {
    display: none;
    cursor: pointer;

}

.burger div{ /* lines */
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px;
    transition: all 0.5s ease;
}

@media screen and (max-width:1024px) {
    .nav_links { width: 50%;}
}

@media screen and (max-width: 750px) {
    body{
        overflow-x: hidden; /* keeps it from scrolling */
    }
    .nav_links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        
        background-color:#FFC4DD;
        
        display: flex;
        flex-direction : column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav_links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}


.nav-active {
    transform: translateX(0%);
}


@keyframes navLinkAnimation {
    from {
        opacity: 0;
        transform: translateX(50px);
    } to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* X */
.X .line1 {
    transform: rotate(-45deg) translate(-5px,5px);
}
.X .line2 {
    opacity: 0;

}
.X .line3 {
    transform: rotate(45deg) translate(-5px,-5px);

}





